<ng-include src="'footer.html'"></ng-include>
<div>
    <section class="opacity">
        <img src="../img/IEMeme.jpg" class="loginImg" alt="If you use IE you're gonna have a bad time" />
    </section>
    <h1 class="customHeading">Select a nickname</h1>
    <div class="loginInput">
        <input type="text" class="form-control logInText" style="width:70%; display: inline;" ng-model="currentUser" required/>
        <button class="btn btn-primary logBtnAlign" ng-click="onLogin()">Login</button> <br>
        <div>{{errorMessage}}</div>
    </div>
</div>
