<div ng-include="" src="'header.html'"></div>
<ng-include src="'footer.html'"></ng-include>
<div ng-init="getRooms()">
	<h1 class="customHeading">Roomlist</h1>
	<ul class="list-group roomList">
		<li ng-repeat="(room, val) in rooms" class="list-group-item customHeadingNoMargin" ng-click="joinRoom(room, val)">{{room}}
			<span ng-if="val.locked">
			<span class="glyphicon glyphicon-lock"></span>
			</span>
		</li>
	</ul>
</div>
<div ng-init="userList()">
	<h1 class="customHeading">Users</h1>
	<ul class="list-group roomList">
		<li ng-repeat="user in users" class="list-group-item customHeadingNoMargin" ng-click="sendPrivate(user)">{{user}}</li>
	</ul>
</div>
