tml, body {
    margin:0;
    padding:0;
    height:100%;
}

body {
    padding-top: 5px;
    background-color: #eeeeee;

}

.customHeading {
    font-family: fantasy;
    font-weight: bolder;
    font-variant: small-caps;
    font-style: oblique;
    text-align: center;
    margin-top: 30px;
    border-bottom: solid lightgray 1px;
    overflow: hidden;
    max-height: 35px;
}

.customHeading:hover {
    overflow: auto;
}

.customHeaderLabel {
    font-family: fantasy;
    font-weight: bolder;
    font-variant: small-caps;
    font-style: oblique;
    margin-top: 20px;
}

.customHeadingNoMargin {
    font-family: fantasy;
    font-weight: bolder;
    font-variant: small-caps;
    font-style: oblique;
}

#container {
    height: 99%;
    background-color: #ffffff;
    border: solid lightgray 1px;
    border-radius: 20px;
    box-shadow: 6px 5px 7px -7px grey;
    padding: 10px 40px 30px 35px;
    width: 70%;
    min-width: 800px;
    height: 700px;
    margin:auto;
    position: relative;
}

/* Header */

#navHeader {
    margin: -10px -40px 0px -35px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.navbar-left {
    float:left;
    margin-left: 15px;
}


/* Chats */

.messageField, .privateMessageField {
    width: 66%;
    padding-right: 2%;
    word-wrap: break-word;
    overflow: auto;
    position: absolute;
    bottom: 118px;
    max-height: 450px;
    padding-bottom: 10px;
}

#PMF {
    width: 92%;
}

#roomTopic {
    border-bottom: solid lightgray 1px;
    width: 66%;
}

#roomOp {
    position: absolute;
    top: 8px;
    right: 18px;
}

#chatroomUsers {
position: absolute;
top: 126px;
overflow-x: hidden;
}

#chatroomUsers li {
    text-overflow: ellipsis;
}

.usersInRoom {
    position: absolute;
    right: 43px;
    width: 22%;
    max-height: 455px;
    overflow: auto;
    border-bottom: solid lightgray 1px;
}

.inputField {
    position: absolute;
    padding-top: 10px;
    bottom: 60px;
    left: 0;
    width: 90%;
    height: 50px;
    margin-left: 5%;
    border-top: solid lightgray 1px;
}

/* Login */

.loginInput {
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.logInText {
    position: absolute;
    left:10%;
}

.logBtnAlign {
    position: absolute;
    left: 81%;
}

.loginErrorMessages {
    position: absolute;
    left: 10%;
    bottom: -40px;
    color: crimson;
}

/* Footer */

.navFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0px;
    padding-top: 12px;
    text-align: center;
    width: 100%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Create Room */

.form-horizontal {
    width: 60%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* Room list */

.roomList {
    width: 80%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-height: 410px;
    overflow: auto;
}

.list-group-item {
    height: 30px;
    padding-top: 5px;
    text-align: center;
    font-size: 130%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#roomsAvailable {
     width: 45%;
     position: absolute;
     left:10px;
     max-height: 580px;
}

#usersOnline {
    width: 45%;
    position: absolute;
    right:10px;
    max-height: 580px;
}

.bottomLine {
    margin-top: 40px;
    width: 100%;
    border-top: solid lightgray 1px;
}

 /* Server message */
#serverMessage {
  color: red;
  font-weight: bold;
  list-style: none;
}
.animate-show,
.animate-hide {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

/* Login img */

.loginImg {
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
}

.opacity img {
    opacity: 0.3;
    filter: invert(1);
    -webkit-filter: invert(1);
    -moz-filter: invert(1);
    -o-filter: invert(1);
    -ms-filter: invert(1);
}

.opacity img:hover {
    opacity: 1;
    filter: invert(0);
    -webkit-filter: invert(0);
    -moz-filter: invert(0);
    -o-filter: invert(0);
    -ms-filter: invert(0);
}

img{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5 ease-in-out;
}
img:hover{
	-webkit-transform: scale(1.1);
  	-moz-transform: scale(1.1);
  	-o-transform: scale(1.1);
  	transform: scale(1.1);
}

.list-group-item-inbox {
    list-style: none;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    font-size: 110%;
}

.list-group-item-inbox li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\2709";
    font-family: 'Glyphicons Halflings';
    margin-left: -17px;
}
