<ng-include src="'header.html'"></ng-include>
    <h1 class="customHeading">Create a chatroom</h1>
    <input type="text" ng-model="name">Name</input>
    <form>
        <fieldset class="form-group">
            <label for="roomTopic">Chatroom Topic</label>
            <input name="topic" type="text" class="form-control" ng-model="topic" id="roomTopic" placeholder="Leave blank for no topic">
        </fieldset>
    </form>
    <button type="button" id="createroom" ng-click="createRoom()">Create Room</button>
</div>
