<div ng-controller="CreateRoomController">
    <h1 class="customHeading">Create a chatroom</h1>

    <form>
        <fieldset class="form-group">
            <label for="roomTopic" class="customHeading">Chatroom Topic</label><br>
            <input name="topic" type="text" class="form-control" ng-model="topic" id="roomTopic"
                style="width:80%; display:inline;" placeholder="Leave blank for no topic">
                <button type="button" class="btn btn-primary" id="createroom" ng-click="createRoom()">
                    Create Room</button>
        </fieldset>
    </form>
</div>
