<ng-include src="'header.html'"></ng-include>
    <h1 class="customHeading">Create a Chatroom</h1>

    <form>
        <fieldset class="form-group">
            <label for="name" class="customHeaderLabel">Chatroom Name</label><br>
            <input name="name" type="text" class="form-control" ng-model="name" id="name"
                style="width:80%; display:inline;" placeholder="Enter name"><br>
            <label for="roomTopic" class="customHeaderLabel">Chatroom Topic</label><br>
            <input name="topic" type="text" class="form-control" ng-model="topic" id="roomTopic"
                style="width:80%; display:inline;" placeholder="Leave blank for no topic">
                <button type="button" class="btn btn-primary" id="createroom" ng-click="createRoom()">
                    Create Room</button>
        </fieldset>
    </form>
</div>
