<ng-include src="'header.html'"></ng-include>
<div ng-init="getMessages()">
    <h1 class="customHeading">{{currentUser}} is chatting in room {{roomName}}</h1>
    <div id="roomtopic">
 		{{currentRoom.topic}}
    </div>
	<ul class="list-group">
		<li ng-repeat="message in chat track by $index" style="list-style:none;">[{{message.timestamp}}-{{message.nick}}] {{message.message}}</li>
	</ul>
    <input type="text" class="form-control" style="display:inline; width:80%;" placeholder="input message" ng-model="message">
    <button class="btn btn-primary" type="button" id="sendmessage" ng-click="sendMessage()">Send</button>
    <button class="btn btn-primary" type="button" id="leavechat" ng-click="leaveChat()">Leave</button>
</div>
<div>
	<span>users in room</span>
	<ul class="list-group">
		<li ng-repeat="user in users">{{user}}</li>
	</ul>
</div>
