<ng-include src="'header.html'"></ng-include>
<ng-include src="'footer.html'"></ng-include>
<h1 class="customHeading">{{currentUser}} is chatting in room {{roomName}}</h1>

<div ng-init="init()" class="messageField">

    <div id="roomTopic">
 		{{topic}}
 		<div ng-if="isOp">
 			<button type="button" ng-click="topicTrue()">Edit Topic</button>
 			<button type="button" ng-click="passwordTrue()">Set Password</button>
 			<button type="button" ng-click="removePassword()">Remove Password</button>
 		</div>
 		<div id="editinputs">
    		<div ng-show="setTopic">
    			<form name="addTopic" ng-submit="editTopic()">
    				<input type="text" ng-model="newTopic" placeholder="new topic..." ng-keyup="$event.keyCode == 13 && editTopic()"/>
    			</form>
			</div>
			<div ng-show="setPassword">
    			<form name="setPass" ng-submit="editPassword()">
    				<input type="chat" ng-model="newPassword" placeholder="new password..." ng-keyup="$event.keyCode == 13 && editPassword()"/>
    			</form>
			</div>
		</div>
	</div>

    <div  id="servermessage" ng-hide="isServerMsg" class="animate-show animate-hide">{{serverMessage}}</div>
    <ul>
        <li ng-repeat="message in chat track by $index" style="list-style:none;">[{{message.timestamp | date:'MM/dd/yyyy @ HH:mm'}}-<span style="color:skyblue;">{{message.nick}}</span>] {{message.message}}</li>
    </ul>

</div>
<div id="usersInRoom">
	<span class="customHeadingNoMargin" style="font-size:120%">Users in Room</span>
	<div ng-hide="actionBar">
    	<button type="button" ng-repeat="command in commands" ng-click="actionBarCommand(command)" style="display:block; width:150px;">{{command}}</button>
	</div>
	<ul class="list-group">
		<li ng-repeat="op in ops" ng-click="operations(op)"
          class="list-group-item customHeadingNoMargin">+{{op}}</li>
		<li ng-repeat="user in users" ng-click="operations(user)"
          class="list-group-item customHeadingNoMargin">{{user}}</li>
  		<li ng-repeat="banned in bannedUsers" ng-click="unBan(banned)"
          class="list-group-item customHeadingNoMargin">ban-{{banned}}</li>
	</ul>
</div>

<div class="inputField">
    <input type="text" class="form-control" style="display:inline; width:80%;" placeholder="input message" ng-model="message">
    <button class="btn btn-primary" type="button" id="sendmessage" ng-click="sendMessage()">Send</button>
    <button class="btn btn-primary" type="button" id="leavechat" ng-click="leaveChat()">Leave</button>
</div>
<toast></toast>
