<ng-include src="'header.html'"></ng-include>
<div>
    <h1 class="customHeading">{{currentUser}} is chatting to {{chatter}}</h1>
	<ul class="list-group">
		<li ng-repeat="message in chat" style="list-style:none;">[{{message.timestamp}}-{{message.user}}] {{message.message}}</li>
	</ul>
    <input type="text" class="form-control" style="display:inline; width:80%;" placeholder="input message" ng-model="message">
    <button class="btn btn-primary" type="button" id="sendPrivate" ng-click="sendPrivateMessage(chatter)">Send</button>
    <button class="btn btn-primary" type="button" id="leavechat" ng-click="leavePrivate()">Leave</button>
</div>
